<center>
	<div style="width: 560;">
		<form method="post" action="/newfamous">
			<textarea name="jumbo_name" style="width: 560px; height: 32px;">name-tag</textarea>
			<textarea name="message" style="width: 560px; height: 190px;">Paste your text in here so Jumbo can chew on your mumbo</textarea>
			<input type="submit" name="" value="submit"/>
		</form>
	</div>
</center>
